/*****************   TAG SELECTORS *****************/

hr {
  width: 5%;
  background-color: white;
  border-style: dotted none none;
  border-color: gray;
  border-width: 5px;
}

body {
  background-color: #eaf6f6;
}

h1,h3 {
  color: #66bfbf;
}

/****************** Class Selectors *******************/

.resume:hover{
  font-size:30px;
}
